body {
	background-color: #f8f8f8;
}

figure > img {
	width: 100%;
}

footer {
	padding: 35px 0 30px;
}

.form-modal input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

.form-modal textarea {
	width: 100%;
	padding: 10px;
}

.form-modal select {
	width: 100%;
	padding: 10px;
	display: block;
	margin-bottom: 10px;
}

.color-primary {
	color: #0D4465;
}

.color-secondary {
	color: #42CAF3;
}

.color-white {
	color: #fff;
}

.logo {
	width: 110px;
}

.slide {
	padding: 70px 0 0;
	background-image: url(../images/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.slide figure h1 {
	font-size: 3.5em;
	margin-bottom: 80px;
}

.slide figcaption {
	padding: 25px 0 20px;
	display: block;
	background-color: #0D4465;
}

.content-products {
	padding: 40px 0 20px;
}

.producto {
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 10px;
}

.producto h3 {
	text-transform: uppercase;
}

.btn-comprar {
	color: #fff;
	border: 0;
	display: block;
	width: 100%;
	background-color: #42CAF3;
	border-bottom: 4px solid #0D4465;
}

.suscribirse form {
	margin-top: 25px;
}

.input-text {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 11px 10px;
	width: 100%;
}

.btn-suscribirse {
	color: #fff;
	border: 0;
	display: block;
	width: 100%;
	padding: 10px 0;
	border-radius: 3px;
	background-color: #42CAF3;
	border-bottom: 4px solid #0D4465;
}

.share {
	margin: 50px 0;
	display: block;
}

.share h1 {
	margin: 10px 0 50px;
}

.btn-share { 
	color: #fff;
	padding: 20px;
	font-size: 1.7em;
	border-radius: 5px;
	text-align: center;
	display: block;
	margin: 0 auto;
	width: 350px;
}

.btn-facebook {
	background-color: #2C4389;
	border-bottom: 4px solid #1D346D;
}

.btn-twitter {
	background-color: #2899DA;
	border-bottom: 4px solid #146893;
}

.suscribirse {
	margin-top: 30px;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 30px 0 60px;
}